<form id="formAddReceita" [formGroup]="fGroup">
    <h1>Nova Receita(+)</h1>

    <label for="descricao">Descrição:</label>
    <input formControlName="descricao" placeholder="Ex.: Salário" autocomplete="off">
    <div class="validationError" *ngIf="fGroup.controls['descricao'].errors && !fGroup.pristine">
        <span *ngIf="fGroup.controls['descricao'].errors['required']">
            Informe o campo Descrição!
        </span>
        <span *ngIf="fGroup.controls['descricao'].errors['minlength']">
            O campo Descrição deve ter no mínimo 3 caracteres!
        </span>
        <span *ngIf="fGroup.controls['descricao'].errors['maxlength']">
            O campo Descrição deve ter no máximo 200 caracteres!
        </span>
    </div>

    <label for="valor">Valor R$:</label>
    <input formControlName="valor" type="number" placeholder="Ex.: R$1320" autocomplete="off">
    <div class="validationError" *ngIf="fGroup.controls['valor'].errors">
        <span *ngIf="fGroup.controls['valor'].errors['required']">
            Informe o campo Valor R$!
        </span>
    </div>

    <button (click)="create()" mat-raised-button color="primary" [disabled]="!fGroup.valid">
        <i class="bi bi-download"></i> Salvar
    </button>

    <button (click)="cancel()" mat-raised-button color="warn">
        <i class="bi bi-x-lg"></i> Cancelar
    </button>
</form>