.footer { 
    width: 100%;
    height: 5vh;
    position: fixed;
    bottom: 0;
    justify-content: right;
    background-color: #C9CBC3;
}

span {
    display: flex;
    align-items: baseline;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

i {
    margin-left: 5px;
}