<form id="formAddDespesa">
    <mat-form-field>

        <h1>Nova Despesa(-)</h1>

        <label for="descricao">Descrição:</label>
        <input matInput [(ngModel)]="despesa.descricao" name="descricao" placeholder="Ex.: Troca Retrovisor do carro">

        <label for="valor">Valor R$:</label>
        <input matInput [(ngModel)]="despesa.valor" name="valor" placeholder="Ex.: R$1500">

        <button (click)="create()" mat-raised-button color="primary">
            <i class="bi bi-download"></i> Salvar 
        </button>

        <button (click)="cancel()" mat-raised-button color="warn">
            <i class="bi bi-x-lg"></i> Cancelar
        </button>

    </mat-form-field>
</form>