* {
    font-family: 'Poppins', sans-serif;
}

.table {
    width: 100%;
}

.valor-negativo {
    color: #ca1e0e;
    font-weight: bold;
}

.valor-positivo {
    color: #3aa032;
    font-weight: bold;
}

#painel-saldo,
span {
    width: 25vw;
    height: auto;
    text-align: center;
    font-size: 18px;
    margin: 5px;
    padding: 8px;
}

#painelFiltroData {
    width: 10vw;
    height: 20vh;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-weight: 600;
}

#painelFiltroData button {
    width: 10vw;
    height: 5vh;
    justify-content: center;
}

button {
    display: flex;
    width: 25vw;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.btn-excluir {
    font-size: 15px;
    width: 10px;
    display: inline;
}

.paineis {
    display: flex;
    width: 100vw;
}